.contact {
    background: linear-gradient(to top, #3A2D3D, #100F0F);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
}

.contact h1 {
    font-size: 3rem;
    display: inline-block;
    /* Ensures it takes only the width of the text */
    position: relative;
    text-align: center;
}

.contact h1::after {
    content: '';
    background-color: #4d154d;
    height: 2px;
    width: 100%;
    /* Makes it the same width as the text */
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    /* Initially hide the line by scaling it to 0 */
    transition: transform 0.9s ease, opacity 0.9s ease;
    opacity: 0;
}

.contact h1:hover::after {
    transform: translateX(-50%) scaleX(1);
    /* Unscale it on hover */
    opacity: 1;
}


@keyframes load {
    from {
        transform: translateX(-1000px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.contact form {
    margin-top: 3vh;
    background-color: #1f0820;
    min-height: 70vh;
    width: 55vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
}

form input {
    height: 6vh;
    border: none;
    border-radius: 4px;
    /* width: 70vh; */
}

form .input-name,
.input-email,
.input-message {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    width: 90%;
}

.input-message textarea {
    min-height: 20vh;
}

label {
    display: block;
}

form button {
    background-color: purple;
    color: white;
    width: 90%;
    height: 5vh;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

form button:hover {
    background-color: #581872;
}

.social {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vh;
}

.social i {
    color: grey;
    font-size: 1.5rem;
}

.social i {
    transition: all .3s ease-in;
}

.social .fa-github:hover,
.fa-linkedin:hover,
.fa-x-twitter:hover {
    scale: 1.2;
    rotate: 13deg;
}

.social .fa-linkedin:hover {
    color: rgb(0, 47, 255);
}

.social .fa-x-twitter:hover {
    color: black;
}

.social .fa-github:hover {
    color: black;
}

@media (max-width:768px) {
    .contact h1 {
        font-size: 2.5rem;
    }

    .contact form {
        width: 90vw;
    }
}

.contact.light {
    background: linear-gradient(to top, #e0e0e0, #f5f5f5);
}

.contact.light form {
    background-color: #decedf;
}

.contact.light form button {
    background-color: #6f7478;
    color: rgb(219, 219, 219);
}

.contact.light form button:hover {
    background-color: #4e4d4d;
}