.course-h1{
    color: black;
    font-size: 2rem;
    font-weight: 600;
}

.course-box{
    height: 30vh;
    width: 75vh;
    border-radius: 12px;
    border: 3px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4px;
    text-align: center;
    gap: 3vh;
    color: white;
    box-shadow: 6px 6px 8px purple;
}

.course-box.light{
    color: rgb(31, 30, 30);
    border: 3px solid black;
    box-shadow: 6px 6px 8px rgb(27, 27, 27);
}