@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Playwrite+HR+Lijeva:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: 'poppins',sans-serif;
}
/* App container styles */
.app {
  transition: background 0.3s, color 0.3s;
}

/* Dark theme styles */
.app.dark {
  background: #121212; /* Dark background */
  color: #ffffff; /* Light text */
}

/* Light theme styles */
.app.light {
  background: linear-gradient(to bottom, #f5f5f5, #ffffff); /* Grey to white gradient */
  color: #333333; /* Dark text */
}

/* Theme toggle button */
.theme-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 15px;
  background: #4c474d;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  z-index: 999;
}

.theme-toggle:hover {
  background: #292424;
  scale: 1.05;
}

@media (max-width:660px) {
  .theme-toggle{
    top: 70px;
  }
}